<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="stylesheets/style.less">
	<title></title>
</head>
<body>
<div class="agregar">
 <p>Nombre:</p>
 <input type="text" class="nombre">
 <p>Imagen:</p>
 <input type="text" class="imagen" ><br>
<button class="add">Agregar</button>
	</div>


	<script
 src="https://code.jquery.com/jquery-3.3.1.min.js"
 crossorigin="anonymous"></script>
<script type="text/javascript" src="/javascripts/add.js"></script>
</body>
</html>

